.DS_Store
*.dSYM
*.d
*.o
gmon.out

# Libraries
libevent-async.a
libhttp-async.a
libmysql-async.a
libmemcache-async.a

# Executables
Examples/ControlFlowTests
Examples/EchoServer
Examples/RangeReverseDNS
Examples/HTTPServer
Examples/HTTPClient
Examples/MySQLBinlogReader
Examples/MySQLBinlogStats
Examples/MemcacheFunctionalTest
