# Finder files (macOS)
.DS_Store

# CMake files
CMakeCache.txt
CMakeFiles
Makefile
CTestTestFile.cmake
Testing
cmake_install.cmake
install_manifest.txt

# Libraries
libevent-async.a
libhttp-async.a
libmysql-async.a
libmemcache-async.a

# Executables
ControlFlowTests
EchoServer
UDPEchoServer
RangeReverseDNS
HTTPServer
HTTPWebsocketServer
HTTPClient
MySQLBinlogReader
MySQLBinlogStats
MemcacheFunctionalTest
