.DS_Store
*.dSYM
*.o
gmon.out

# Libraries
libevent-async.a
libhttp-async.a
libmysql-async.a

# Executables
ControlFlowTests
EchoServerExample
Protocols/HTTP/ServerExample
Protocols/HTTP/ClientExample
